logs/
*.pdf
statistics*
__pycache__/
*.csv
.torch/
*.pt
.**.swp
.*.*.swp
*.ipynb
*.ipynb_checkpoints/
plot_styles.py
scripts/run_experiment-evi.sh
scripts/run_experiment-evi.sh
scripts/run_adapt.sh
scripts/run_experiment-evaluate*
EfficientNet
exp/
*.npy
rolands_klasse.py
tsne-embeddings/
tsne-results/
make_fig_1/
